:root {
  --cor-texto: #262626;
  --cor-header: #000137;
  --cor-principal: #ffa500;
  --cor-detalhes: #8284FA;
  --cor-tarefas: #4EA8DE;
  --task-background: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-color: #ffa500;
} 

body {
  background-image: url(../assets/background.gif);
  color: var(--cor-texto);
  min-width: 100vh;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}